module.exports = {
	port: 2000,
	ft_config: {
		token: "",
	},
	google_config:{
		cx:":ug5o-slkb3u",
		url:"https://www.googleapis.com/customsearch/v1?key=AIzaSyCH-&cx=:ug5o-slkb3u&q="
	},
	joke_config:{
		key:''
	},
	showapi_config:{
		appId:63073,
		secret:''
	},
	qcloud_config:{
		SecretId:'',
		SecretKey:''
	}
}